:root {
    --color-hyperlink: #0f91ff;
    --color-text: #fff;
    --font-family: Arial, sans-serif;
    --background-color: #111;
    --background-gradient-color-1: #ff4136;
    --background-gradient-color-2: #5b53ff;
    --background-gradient: linear-gradient(135deg, var(--background-gradient-color-1), var(--background-gradient-color-2));
}

* {
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
}

body {
    margin: 0px;
}

h2 {
    max-width: 60%;
}

a {
    color: var(--color-hyperlink);
}

#logo {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 75px;
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-image: var(--background-gradient);
    transition: all 200ms ease-in-out;
}

button:hover {
    transition: all 200ms ease-in-out;
    background-image: var(--background-gradient);
    box-shadow: 0px 0px 10px #fff;
    cursor: pointer;
}

button:active {
    transition: all 25ms ease-in-out;
    padding: 13px;
    margin: 17px;
}

#button-up {
    z-index: 10;
    position: fixed;
    right: 0px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#button-up:active {
    width: 56px;
    height: 56px;
}

#button-down {
    z-index: 10;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#button-down:active {
    width: 56px;
    height: 56px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
}

#landing {
    background-image: url("./back-0_min.webp");
}

#landing-title {
    margin: 0px;
    font-size: 64px;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(90deg, var(--background-gradient-color-1), var(--background-gradient-color-2));
    background-clip: text;
}

#landing-subtitle {
    margin: 0px;
}

#landing-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#landing-button:active {
    width: 56px;
    height: 56px;
}

#index {
    background-image: url("./back-1.webp");
}

#content-coding {
    background-image: url("./back-2.webp");
}

.carousel {
    width: 60vw;
    height: 40vh;
    display: grid;
    overflow-x: hidden;
}

.carousel button {
    z-index: 5;
    position: absolute;
    background-image: none;
    background-color: #0000;
    margin: 0;
    padding: 0;
    font-size: 64px;
    height: 40vh;
    width: 10vw;
    border-radius: 20px;
    color: #fff5;
}

.carousel button:hover {
    color: var(--color-text);
    box-shadow: none;
}

.carousel button:active {
    background-image: linear-gradient(90deg, #aaa1, #aaa1);
}

.carousel-button-next {
    position: relative;
    right: 20vw;
}

.carousel-button-previous:hover {
    background-image: linear-gradient(270deg, #0001, #aaa1);
}

.carousel-button-next:hover {
    background-image: linear-gradient(90deg, #0001, #aaa1);
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.carousel-item p {
    max-width: 60%;
    margin: 10px;
}

hr {
    width: 25%;
    margin: 0;
    color: #fff5;
}

#content-photography {
    background-image: url("./back-3.webp");
}

#photography-carousel {
    width: 70vw;
    height: min-content;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
}

#photography-carousel .carousel-button-next {
    right: 15vw;
}

#footer {
    height: 25vh;
}

@media screen and (max-width: 500px) {
    h2 {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 90vw;
    }

    .carousel button {
        width: 20vw;
    }

    .carousel-button-next {
        right: 5vw;
    }

    #photography-carousel {
        width: 90vw;
    }

    #photography-carousel .carousel-button-next {
        right: 5vw;
    }
}
