@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-hyperlink: #0f91ff;
    --color-text: #fff;
    --font-family: Inter;
    --background-color: #111;
    --button-color: #1c1b22;
}

* {
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;
    text-align: center;
}

body {
    margin: 0px;
    background-color: var(--background-color);
}

main {
    overflow-x: hidden;
    position: relative;
}

.background {
    position: absolute;
    height: 100vh;
    min-width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}

h2 {
    max-width: 60%;
}

h3 {
    max-width: 60%;
    font-size: 18px;
}

h4 {
    margin-top: 5px;
    font-size: 16px;
}

a {
    color: var(--color-hyperlink);
}

#logo {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 75px;
    cursor: pointer;
}

button {
    padding: 14px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    transition: all 200ms ease-in-out;
}

button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 10px #777;
    cursor: pointer;
}

button:active {
    transition: all 25ms ease-in-out;
    padding: 16px;
    margin: 8px;
}

#button-up {
    z-index: 10;
    position: fixed;
    right: 0px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

#button-up:active {
    width: 54px;
    height: 54px;
}

#button-down {
    z-index: 10;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#button-down:active {
    width: 54px;
    height: 54px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#landing-title {
    margin: 0px;
    font-size: 64px;
    font-weight: 500;
    --shadow-blur: 4px;
    --shadow-color: #00000055;
    text-shadow:
        -1px -1px var(--shadow-blur) var(--shadow-color),
        1px -1px var(--shadow-blur) var(--shadow-color),
        -1px 1px var(--shadow-blur) var(--shadow-color),
        1px 1px var(--shadow-blur) var(--shadow-color);
}

#landing-subtitle {
    margin: 0px;
}

#landing-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#landing-button:active {
    width: 54px;
    height: 54px;
}

.carousel {
    width: 60vw;
    height: 40vh;
    display: grid;
    overflow-x: hidden;
}

.carousel button {
    z-index: 5;
    position: absolute;
    background-image: none;
    background-color: #0000;
    margin: 0;
    padding: 0;
    font-size: 64px;
    height: 40vh;
    width: 10vw;
    border-radius: 20px;
    color: #fff5;
}

.carousel button:hover {
    color: var(--color-text);
    box-shadow: none;
}

.carousel button:active {
    background-image: linear-gradient(90deg, #aaa1, #aaa1);
}

.carousel-button-next {
    position: relative;
    right: 20vw;
}

.carousel-button-previous:hover {
    background-image: linear-gradient(270deg, #0001, #aaa1);
}

.carousel-button-next:hover {
    background-image: linear-gradient(90deg, #0001, #aaa1);
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.carousel-item p {
    max-width: 60%;
    margin: 10px;
}

hr {
    width: 25%;
    margin: 0;
    color: #fff5;
}

#car-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#car-container>div {
    max-width: 500px;
}

#car-container>div>img {
    max-width: 500px;
}

#footer {
    height: 25vh;
}

@media screen and (max-width: 500px) {
    h2 {
        max-width: 80%;
    }

    h3 {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 90vw;
    }

    .carousel button {
        width: 20vw;
    }

    .carousel-button-next {
        right: 5vw;
    }

    #car-container>div {
        max-width: 300px;
    }

    #car-container>div>img {
        max-width: 300px;
    }
}
