:root {
    --color-hyperlink: #0f91ff;
    --color-text: #fff;
    --font-family: Arial, sans-serif;
    --background-color: #111;
    --button-color: #1c1b22;
}

* {
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
}

body {
    margin: 0px;
}

#logo {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 75px;
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: var(--button-color);
    transition: all 200ms ease-in-out;
    z-index: 10;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 10px #777;
    cursor: pointer;
}

button:active {
    transition: all 25ms ease-in-out;
    padding: 10px;
    margin: 8px;
    width: 54px;
    height: 54px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    background-color: var(--background-color);
}

#img-container img {
    max-width: 100vw;
    max-height: 100vh;
    box-shadow: 0px 0px 15px 15px black;
}

#footer {
    height: 25vh;
}
